body {
  font-family: 'Orbitron', sans-serif;
  background-image: url(image.png);
  color: #39ff14;
  text-align: center;
  margin: 0;
  padding: 20px;
}

input {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1a1a2e;
  color: #39ff14;
}

button {
  padding: 10px 20px;
  background-color: #121212;
  color: #39ff14;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px #39ff14, 0 0 40px #39ff14;
}

button:disabled {
  background-color: #3d3d3d;
}

#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin: 5px;
}

#word-display {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.letter-square {
  width: 60px;
  height: 60px;
  border: 2px solid #00ff00;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #1a1a1a;
  color: #39ff14;
  border-radius: 10px;
}

.score {
  font-size: 1.5em;
  margin: 10px;
}

#scores-container {
  position: absolute;
  left: 0;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(44, 62, 80, 0.8);
  padding: 15px;
  border-radius: 5px;
}

.score-item {
  color: #ecf0f1;
  font-size: 1.2em;
}

h1,
h2 {
  color: #39ff14;
}

#player-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
