body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
}

.keyboard {
  height: 40px;
  width: 50px;
  border-radius: 35%;
}

.square {
  border: black 5px solid;
  height: 50px;
  width: 40px;
}

#word-display {
  display: flex;
  flex-direction: row;
}

#anime-display {
  border: black 10px solid;
  height: 400px;
  width: 400px;
}
